
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

$brand:#1AB64B;
$border:#E5E7EB;
$secondary: #FC7300;
$text:#20262E;
$text-secondary:#4D5158;
$border:#E3E3E3;
$placeholder:#ABABAB;
$backgray:#F8F9FA;

@mixin shadow-effect {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
@mixin display-width {
    display: inline-block;
    width: 100%;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
a{
    color: $text;
    &:hover{
        text-decoration: none;
    }
}
*{
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}

h1{
    font-size: 75px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 26px;
}
.scroll-to-top{
    background: white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 10px 50px;
    .body-header{
        display: flex;
        justify-content: space-between;
        .nav-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    margin-bottom: 0;
                    li{
                        list-style: none;
                        a{
                            font-size: 18px;
                            padding: 0 20px;
                            height: 70px;
                            color: $text;
                            &.active, &:hover{
                                color: $brand;
                            }
                        }
                    }
                }
            }
            .phone-header{
                display: flex;
                margin-left: 30px;
                a{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 8px;
                    }
                    span{
                        color: $brand;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
            .button-action-header{
                display: flex;
                margin-left: 30px;
                a{
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding: 0 20px;
                    border-radius: 8px;
                    background: $brand;
                    img{
                        margin-right: 8px;
                    }
                    span{
                        color: white;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    &:hover{
                        background: #17CF52;
                    }
                }
            }
        }
    }
}
.photo-hero{
    img{
        width: 100%;
    }
}
.our-team-section{
    text-align: center;
}
.item-member{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    img{
        width: 200px;
        border-radius: 100px;
        height: 200px;
        margin-bottom: 15px;
        object-fit: cover;
    }
    b{
        display: inline-block;
        width: 100%;
    }
    span{
        display: inline-block;
        width: 100%;
        font-size: 13px;
        color: $text-secondary;
    }
}
.about-page-section-02{
    background: #00425A;
    padding: 60px 0;
    .col-md-12{
        &:nth-last-child(1){
            .infor-section-2-about{
                margin-bottom: 0 !important;
            }
        }
    }
    .infor-section-2-about{
        border-radius: 8px;
        display: flex;
        border: 2px solid rgba(255, 255, 255, 0.20);
        background: var(--secondary-30, #00425A);
        padding: 20px;
        border-radius: 8px;
        align-items: flex-start;
        margin-bottom: 20px;
        img{
            margin-right: 20px;
        }
        .infor-about-value{
            display: inline-block;
            width: 100%;
            b{
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 600;
                color: #BFDB38;
            }
            span{
                font-size: 16px;
                color: #99B3BD;
            }
        }
    }
}
.about-page-hero{
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        display: inline-block;
        background: url(../images/about-before.svg) no-repeat;
        width:647px;
        height: 732px;
        background-size: contain;
    }
    h1{
        &::after{
            display: none;
        }
    }
    p{
        position: relative;
        width: fit-content !important;
        &::after{
            width: 214px;
            height: 169px;
            background: url(../images/stamp-title-about.png) no-repeat;
            content: '';
            position: absolute;
            right: -234px;
            top: 0;
            background-size: contain;
        }
    }
}
.hero-slide{
    display: inline-block;
    width: 100%;
    padding:100px 50px 100px 50px;
    background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
    h1{
        color: $brand;
    }
    .row{
        align-items: center;
    }
    .infor-hero{
        color: $text;
        h1{
            margin-bottom: 40px;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                background: url(../images/bottom-line-head.svg) no-repeat center bottom;
                height: 30px;
                width: 386px;
                position: absolute;
                bottom: -20px;
                left: 0;
                z-index: 0;
            }
        }
    }
    p{
        display: inline-block;
        width: 100%;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.m40{
    margin: 40px 0;
}
.mt40{
    margin-top: 40px;
}
.mb40{
    margin-bottom:0;
}
.item-section-2{
    display: inline-block;
    width: 100%;
    text-align: center;
    span, label{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    span{
        font-size: 50px;
        margin-bottom: 0;
    }
    label{
        font-size: 16px;
        color: $text-secondary;
    }
}
.modal-body{
    padding: 30px;
}
.button-action{
    display: flex;
    width: 100%;
    text-align: center;
    &.center{
        justify-content: center;
        a{
            margin: 0 10px;
        }
    }
    &.right{
        justify-content: right;
    }
    a{
        display: flex;
        align-items: center;
        height: 55px;
        border-radius: 8px;
        padding: 0 15px;
        justify-content: center;
        min-width: 200px;
        span{
            font-size: 16px;
            font-weight: 600;
            margin-right: 8px;
            color: white;
        }
        background: $brand;
        width: fit-content;
        &:hover{
            background: #17CF52;
        }
        &.orange{
            background: $secondary;
            img{
                margin-right: 4px;
            }
            span{
                margin-right: 0 !important;
            }
        }
    }
    &.fit-with{
        width: fit-content;
    }
}
.section-2-about{
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
    &::before{
        background: url(../images/line-section-1.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        top: 0;
        width:352px;
        height: 580px;
        background-size: contain;
    }
    &::after{
        background: url(../images/line-section-2.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        right: 0;
        top: 0;
        width:352px;
        height: 580px;
        background-size: contain;
    }
}
section{
    padding: 60px 0;
    float: left;
    width: 100%;
    overflow: hidden;
}
.section-3{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #EEEDE6;
    position: relative;
    &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: inline-block;
        width: 236px;
        height: 302px;
        background: url(../images/before-section2.svg) no-repeat center;
        background-size: contain;
    }
    .list-process{
        display: flex;
        justify-content: center;
        .item-process{
            width: 20%;
            padding: 0 20px;
            .cricle-process{
                width: 210px;
                height: 210px;
                border-radius: 100%;
                display: inline-block;
                position: relative;
                background: white;
                padding: 30px 40px;
                text-align: center;
                img{
                    height: 72px;
                    margin-bottom: 15px;
                }
                b{
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    color: $brand;
                    height: 40px;
                    display: inline-block;
                    width: 100%;
                    height: 45px;
                }
                label{
                    position: absolute;
                    left: 20px;
                    top: 0;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    border-radius: 100px;
                    justify-content: center;
                    height: 40px;
                    background: #BFDB38;
                    color: white;font-size: 20px;
                }
            }
            span{
                font-size: 14px;
                color: $text-secondary;
                display: inline-block;
                width: 100%;
            }
        }
    }
}
.item-box-expands{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    b{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        &::before{
            width: 8px;
            position: absolute;
            left: 0;
            top: 4px;
            height: 16px;
            content: '';
            display: inline-block;
            background: url(../images/icon-lit.svg) no-repeat left;
            background-size: contain;
        }
    }
    p{
        display: none;
        margin-top: 10px;
        padding-left: 24px;
        color: $text-secondary;
        margin-bottom: 0;
    }
    &:hover{
        b{
            position: relative;
            opacity: .8;
        }
    }
    &.active{
        p{
            display: inline-block;
            width: 100%;
        }
        b{
            display: inline-block;
            width: 100%;
            position: relative;
            color: $secondary;
            &::before{
                width: 16px;
                height: 8px;
                top: 8px;
                background: url(../images/icon-lit-active.svg) no-repeat left;
                background-size: contain;
            }
        }
    }
}
.title-section{
    &.white{
        h2{
            color: white;
        }
    }
}
.row-ask-us{
    display: inline-block;
    width: 100%;
   margin-top: 20px;
    .scroll-row-ask-us{
        width: max-content;
        display: flex;
        margin-top: 20px;
        .item-askus{
            width: 100%;
            max-width: 387px;
            padding: 20px;
            padding-bottom: 10px;
            border-radius: 8px;
            background: white;
            margin-left: 30px;

        }
    }
}
.infor-contact{
    margin-top: 30px;
    h6{
        font-size: 22px;
    }
    p{
        color: $text-secondary;
    }
    .phone-link{
        display: inline-block;
        width: 100%;
        a{
            font-size: 32px;
            color: $brand;
        }
    }
    .buttonmaps{
        height: 50px;
        border-radius: 100px;
        border: 1px solid $brand;
        display: flex;
        width: fit-content;align-items: center;
        padding: 0 20px;
        margin-top: 20px;
        img{
            margin-left: 5px;
        }
        span{
            font-size: 16px;
            color: $brand;
        }
    }
}
.editor-section{
    display: inline-block;
    padding: 180px 0;
    width: 100%;
    padding:180px 50px 100px 50px;
    background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
    h1{
        font-weight: 400;
        color: $brand;
    }
    &::before{
        background: url(../images/contact-before.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width:352px;
        height: 580px;
        background-size: contain;
    }
    &::after{
        background: url(../images/contact-after.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        right: 0;
        top: 80px;
        width:352px;
        height: 580px;
        background-size: contain;
    }
}
body .policy-section{
    padding-bottom: 20px !important;
    h1{
        &::after{
            display: none;
        }
    }
}
.editor-blogs-section{
    padding-top: 0 !important;
}
.editor-blogs{
    margin: auto;
    max-width: 800px;
    padding-top: 0;
}
.contact-section{
    display: inline-block;
    padding: 180px 0;
    width: 100%;
    padding:180px 50px 100px 50px;
    background: linear-gradient(180deg, #EEEDE6 0%, #FFF 53.65%);
    .content-popup{
        display: inline-block;
        width:100%;
        background: white;
        max-width: 90%;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
        margin-top: 30px;
    }
    h1{
        color: $brand;
        font-weight: 400;
    }
    &::before{
        background: url(../images/contact-before.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        left: 0;
        top: 80px;
        width:352px;
        height: 580px;
        background-size: contain;
    }
    &::after{
        background: url(../images/contact-after.svg) no-repeat;
        content: '';
        z-index: 0;
        position: absolute;
        right: 0;
        top: 80px;
        width:352px;
        height: 580px;
        background-size: contain;
    }
    
}
.box-faqs{
    display: inline-block;
    width: 100%;

}
.section-6{
    background: linear-gradient(180deg, #F7F6F1 0%, #FFF 100%);
    .container{
        max-width: 800px;
        h2{
            text-align: center;
        }
    }
}
.position-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    img{
        width: 30px;
    }
    .name-position{
        display: flex;
        justify-content: left;
        b{
            margin-right: 10px;
            font-size: 13px;
        }
        label{
            font-size: 13px;
            max-width: 100px;
            color: $text-secondary;
            text-align: left;
        }
    }
}
.infor-avatar-comment{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    img{
        width: 76px;
        height: 76px;
        border-radius: 100px;
        object-fit: cover;
        margin-right: 20px;
    }
    p{
        text-align: left;
    }
}
.section-5{
    background: linear-gradient(327deg, #00425A 81.64%, #369856 97.97%);
    .title-section{
        text-align: center;
    }
}
.section-4{
    position: relative;
    width: 100%;
    &::before{
        position: absolute;
        top: 20%;
        left: 0;
        width: 69px;
        height: 200px;
        background: url(../images/before-section-3.svg) no-repeat left ;
        content: '';
        background-size: contain;
    }
    &::after{
        position: absolute;
        top: 45%;
        right: 0;
        width: 101px;
        height: 185px;
        background: url(../images/after-section-3.svg) no-repeat left ;
        content: '';
        background-size: contain;
    }
    .row{
        &:nth-child(3){
            h3{
                color: #00425A;
            }
            .button-action{
                a{
                    background: #00425A;
                    &:hover{
                        background: #006a91;
                    }
                }
            }
        }
        &:nth-child(1){
            h3{
                color: $brand;
            }
            .button-action{
                a{
                    background:  $brand;
                    &:hover{
                        background:#17CF52;
                    }
                }
            }
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            .col-md-6{
                &:nth-child(2){
                    padding-left: 15px !important;
                    padding-right: 60px !important;
                }
                &:nth-child(1){
                    padding-left: 60px !important;
                    padding-right: 15px !important;
                }
            }
            h3{
                color: $secondary;
            }
            .button-action a{
                background: $secondary;
                &:hover{
                    background: #ff811b;
                }
            }
        }
    }
    .col-md-6{
        &:nth-child(odd){
            padding-right: 60px;
        }
        &:nth-child(even){
            padding-left: 60px;
        }
    }
}
.list-process{
    display: inline-block;
    width: 100%;
    position: relative;
    &::before{
        height: 1px;
        width: 80%;
        border-bottom: 1px dashed #00425A;
        position: absolute;
        left: 10%;
        top: 28%;
        content: '';
        display: inline-block;
    }
}



.item-box-faqs{
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid $border;
    b{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-right: 24px;
        cursor: pointer;
        &::before{
            width: 24px;
            position: absolute;
            right: 0;
            top: 2px;
            height: 24px;
            content: '';
            display: inline-block;
            background: url(../images/dropdown-icon.svg) no-repeat left;
            background-size: contain;
        }
    }
    p{
        display: none;
        margin-top: 10px;
        color: $text-secondary;
        padding: 20px;
        font-size: 14px;
        color: $text-secondary;
        border-radius: 8px;
        background: var(--White, #FFF);
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.07);
        margin-bottom: 0;
    }
    &:hover{
        b{
            position: relative;
            opacity: .8;
        }
    }
    &.active{
        border-bottom: 0;
        p{
            display: inline-block;
            width: 100%;
        }
        b{
            display: inline-block;
            width: 100%;
            position: relative;
            color: $brand;
            &::before{
                width: 24px;
                height: 24px;
                top: 2px;
                background: url(../images/dropdown-icon-active.svg) no-repeat left;
                background-size: contain;
            }
        }
    }
}
.bottom-footer{
    background: #20262E;
    padding: 60px;
    position: relative;
    z-index: 1;
    border-radius: 60px 60px 0 0;
    padding-bottom: 10px;
}
.item-adress-footer{
    display: flex;
    p, span{
        color: #7C8694;
        font-size: 16px;
    }
    p{
        margin-right: 15px;
    }
    img{
        margin-right: 4px;
        height: 20px;
    }
}
.logo-footer{
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.leden-footer{
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #373E48;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin-right: 8px;
    }
    span{
        color: #7C8694;
    }
}
.menu-mobile{
    display: none;
}
.modal-open .modal{
    display: flex !important;
    align-items: center;
}
.content-popup{
    
    h6{
        color: $brand;
        display: inline-block;
        margin-bottom: 30px;
    }
    form{
        display: inline-block;
        width: 100%;
        input{
            background: $backgray;
            border-radius: 8px;
            width: 100%;
            padding: 0 15px;
            font-size: 14px;
            display: inline-block;
            height: 50px;
            border: 1px solid $border;
        }
        textarea{
            background: $backgray;
            border-radius: 8px;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            display: inline-block;
            height: 150px;
            border: 1px solid $border;
            &:focus{
                background: white;
            }
        }
    }
}
.link-footer{
    display: inline-block;
    width: 100%;
    span{
        display: inline-block;
        width: 100%;
        color: #BFDB38;
        margin-bottom: 20px;
    }
    a{
        padding: 5px 0;
        display: flex;
        width: 100%;
        color: #7C8694;
        img{
            margin-right: 4px;
        }
        &:hover{
            color: white;
        }
    }
}
footer{
    background: $brand;
    display: inline-block;
    padding: 0 50px;
    position: relative;
    width: 100%;
    .action-footer{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 70px;
        background: $brand;
        h2{
            color: white;
            margin-top: 60px;
            position: relative;
            z-index: 1;
        }
        p{
            font-size: 20px;
            position: relative;
            z-index: 1;
            color: white;
            
        }
        .button-action{
            a{
                &:hover{
                    background: #ff811b;
                }
            }
        }
        &::after{
            background: url(../images/footer-after.svg) no-repeat center;
            width: 285px;
            position: absolute;
            right: 0;
            top: 0;
            height: 361px;
            background-size: contain;
            content: '';
            display: inline-block;
            z-index: 0;
        }
        &::before{
            background: url(../images/footer-before.svg) no-repeat center;
            width: 168px;
            height: 310px;
            background-size: contain;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
        }
    }
}
@media only screen and (max-width: 1500px) {
    .about-page-hero::before {
        top: 20px;
        width: 387px;
        height: 732px;
    }
    .contact-section h1{
        font-size: 55px;
        position: relative;
        z-index: 1;
    }
    .hero-slide .infor-hero h1 {
        margin-bottom: 40px;
        position: relative;
        z-index: 1;
        font-size: 55px;
    }
    .about-page-section-02{
        .container{
            max-width: 1000px;
        }
    }
}
@media only screen and (max-width: 1300px) {
	.section-2-about{
        &::after{
            top: 130px;
            width: 202px;
        }
    }
    section{
        .container{
            padding: 0 50px;
        }
    }
    .section-3::before {
        width: 106px;
        height: 132px;
    }
    .section-4{
        &::before, &::after{
            display: none;
        }
    }
}
@media only screen and (max-width: 1210px) {
	header .body-header .nav-header .button-action-header a {
       height: 45px;
    }
    .contact-section{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .contact-section .content-popup {
        max-width: 100%;
    }
    h1 {
        font-size: 50px;
    }
    .section-3 .list-process .item-process .cricle-process {
        width: 160px;
        height: 160px;
    }
    .section-3 .list-process .item-process .cricle-process img {
        height: 42px;
    }
    .section-3 .list-process .item-process .cricle-process b {
        font-weight: 600;
        
        height: 40px;
        display: inline-block;
        width: 100%;
        height: 55px;
        font-size: 13px;
    }
    .section-3 .list-process .item-process .cricle-process label {
        position: absolute;
        left: 20px;
        top: 0;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    .list-process::before {
        top: 19%;
    }
    header .body-header .nav-header nav ul li a {
        font-size: 16px;
        padding: 0 10px;
        height: 70px;
    }
    .section-4 .row:nth-child(even) .col-md-6:nth-child(2) {
        padding-left: 15px !important;
        padding-right: 0px !important;
    }
    .section-4 .col-md-6:nth-child(even) {
        padding-left: 0px;
    }
    h2{
        font-size: 32px;
    }
    header .body-header .nav-header .phone-header {
        margin-left: 10px;
    }
    .item-adress-footer {
        display: inline-block;
        p{
            display: inline-block;
        }
    }
    body{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
.container{
    width: 100%;
    max-width: 100% !important;
    padding: 0 15px!important;
}
header{
    padding: 5px 15px !important;
}
.hero-slide{
    padding: 100px 15px !important;
}
footer {
    padding: 0 15px;
}
header .body-header .nav-header .phone-header a span {
    color: #1AB64B;
    font-size: 16px;
}
header .body-header .nav-header .button-action-header a span {
    
    font-size: 16px;
}
header .body-header .nav-header .button-action-header a img {
    margin-right: 5px;
    height: 18px;
}
.logo{
    img{
        height: 38px;
    }
}
}

@media only screen and (max-width: 930px) {
    .about-page-hero{
        .col-md-6{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .contact-section h1{
        font-size: 32px;
        position: relative;
        z-index: 1;
    }
    .hero-slide .infor-hero h1::after {
        height: 31px;
        width: 290px;
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: 0;
        background-size: contain;
    }
    .section-3 .list-process .item-process .cricle-process {
        padding: 20px !important;
        width: 140px;
    height: 140px;
    }
    .list-process::before {
        top: 17%;
    }
.nav-header{
    display: none !important;
    &.active{
        display: block !important;
        position: fixed;
    right: 0;
    background: var(--White, #FFF);
box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
    top: 0;
    width: 300px;
    background: white;
    padding: 40px;

    nav ul {
        display: inline-block !important;
        margin-bottom: 0;
        li{
            a{
                display: inline-block;
                padding: 12px 0 !important;
                height: auto !important;
                font-size: 20px !important;
            }
        }
    }

    .button-action-header {
        display: flex;
        margin-left: 0px !important;
        margin-top: 20px;
    }
    .menu-mobile img.close-mobile {
        display: block !important;
        position: relative;
        z-index: 9;
    }
    }
}
header .body-header .nav-header .phone-header a span {
    color: #1AB64B;
    font-size: 18px;
}
header .body-header .nav-header .button-action-header a span {
    font-size: 18px;
}
header .body-header .nav-header .button-action-header a img {
    margin-right: 5px;
    height: 22px;
}
.menu-mobile{
    display: inline-block !important;
    position: relative;
    z-index: 9;
    img{
        height: 22px;
        margin-top: 5px;
        &.close-mobile{
            display: none !important;
        }
        &.click-mobile{
            display: inline-block !important;
        }
    }
    &.active{
        img{
            &.close-mobile{
                display: block !important;
            }
            &.click-mobile{
                display: none !important;
            }
        }
    }
}
.phone-header{
    margin-top: 20px;
    margin-left: 0 !important;
}
.section-2-about{
    p{
        padding: 0 50px;
    }
}
}


@media only screen and (max-width: 767px) {
    .hero-slide .infor-hero h1 {
        font-size: 40px;
    }
    .about-page-hero::before {
        top: 40px;
        width: 257px;
        height: 732px;
    }
    .about-page-hero{
        p{
            max-width: 170px;
            &::after{
                width: 124px;
                height: 129px;
                right: -124px;
            }
        }
    }
    .our-team-section{
        .col-md-3{
            -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    img{
        width: 120px;
        height: 120px;
    }
        }
    }
    .leden-footer{
        margin-top: 20px;
    }
    .link-footer{
        margin: 20px 0;
        span{
            margin-bottom: 5px;
        }
    }
    .about-page-section-02 .infor-section-2-about{
        display: inline-block !important;
        img{
            margin-bottom: 10px;
        }
    }
    .section-2-about p {
        padding: 0 0px;
    }
    .section-2-about .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .item-section-2 span {
        font-size: 28px;
    }
    .item-section-2{
        img{
            height: 64px;
        }
    }
    section {
        padding: 30px 0;
        width: 100%;
        overflow: hidden;
    }
    .button-action {
        flex-flow: wrap;
    }
    .section-2-about{
        .button-action {
            margin-bottom: 20px !important;
        }
    }
    .section-2-about{
        .button-action {
            a{
                margin-bottom: 20px;
            }
        }
    }
    .item-process{
        width: 100% !important;
        display: inline-block;
    }
    .list-process{
        display: inline-block !important;
        width: 100%;
        &::before{
            display: none;
        }
    }
    .item-process{
        margin-bottom: 30px;
    }
    .section-3 .list-process .item-process span{
        margin-top: 7px !important;
    }
    body .section-4 .col-md-6{
        padding: 0 15px!important;
        margin-bottom: 10px !important;
    }
    .section-4 .row:nth-child(even) .col-md-6:nth-child(1){
        padding: 0 15px !important;
    }
    footer .action-footer::before{
        width: 68px !important;
    }
    footer .action-footer::after {
        width: 95px;
        height: 121px;
    }
    .bottom-footer {
        padding: 30px 15px 0 15px;
    }
    .infor-hero{
        margin-bottom: 30px;
    }
    header .body-header {
        align-items: center;
    }
    .logo img {
        height: 60px;
    }
}
.alert-toast{
    position: fixed;
    right: 15px;
    z-index: 999;
    text-align: right;
    top: 15px;
    b{
        padding: 15px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        width: fit-content;
        img{
            margin-right: 8px;
        }
        span{
            color: white;
            font-weight: 400;
        }
        &.success-alert{
            background: $brand;
        }
        &.error-alert{
            background: $secondary;
        }
    }
    
}